@primary: #863356;
@secondary: #f2e2d3;
@tertiary: #e2b9a7;
@yellow: #faf2ad;

/* Left Panel right border when it is visible by breakpoint */
.panel-left.panel-in-breakpoint:before {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background: rgba(0, 0, 0, 0.1);
  content: "";
  z-index: 6000;
}

/* Hide navbar link which opens left panel when it is visible by breakpoint */
.panel-left.panel-in-breakpoint ~ .view .navbar .panel-open[data-panel="left"] {
  display: none;
}

/*
  Extra borders for main view and left panel for iOS theme when it behaves as panel (before breakpoint size)
*/
.ios .panel-left:not(.panel-in-breakpoint).panel-in ~ .view-main:before,
.ios .panel-left:not(.panel-in-breakpoint).panel-closing ~ .view-main:before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background: rgba(0, 0, 0, 0.1);
  content: "";
  z-index: 6000;
}

.sidebar_list_items {
  display: flex;
  flex-direction: column;
  font-weight: 50;
  gap: 1.5em;
}

.sidebar_list_items > li > a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

hr {
  border: 1px solid @primary;
  width: 100%;
}

.sidebar_page_url {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
  color: @primary;
  letter-spacing: 2px;
}

.sidebar_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: @primary;
  font-weight: 50;
  margin: 1rem 0;
}
.avatar > img {
  border-radius: 50%;
  height: 8rem;
}
.avatar > span {
  margin: 0.7rem 0;
}

.panel-right,
.panel-right > .view {
  border-radius: 2rem 0 0 2rem;
}

.menu_icon {
  font-weight: bolder;
  font-size: 40px;
}

.navbar-inner {
  position: static;
  height: 100px;
  background-color: @secondary;

  display: flex;
  justify-content: space-between !important;
}

.navbar-inner > a > img {
  height: 35px;
  border-radius: 50%;
}

.searchbar-inner {
  background-color: @secondary !important;
}
.searchbar:after {
  display: none;
}

.searchbar-inner > div > input {
  background-color: white !important;
}

input::placeholder {
  color: @primary !important;
  font-weight: 50;
}

input {
  color: @primary !important;
}

.ios .navbar .right {
  margin: 0;
}

.md .navbar .right {
  margin-left: 0;
}

.searchbar-icon {
  color: @primary;
}

.title_page {
  color: @primary;
  font-weight: bold;
  font-size: large;
  text-transform: uppercase;
  font-weight: 50;
}

.toolbar-inner > a {
  font-weight: 50 !important;

  font-size: 0.8rem;
  color: @tertiary;

  display: flex;
  flex-direction: column;
}

.toolbar-inner {
  background-color: @secondary;
  padding: 4rem 2rem;
}

.toolbar {
  height: 7rem;
}

.toolbar::before {
  display: none;
}

.about_us_content {
  color: @primary;
  font-weight: 50;
}
.about_us_content > p {
  font-size: large;
}

.team_section {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.team_section > li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.team_section_details > p {
  font-weight: 50;
}

.page-content {
  padding-top: 1rem;
  padding-bottom: 14rem;

  max-width: 25rem;
  margin: 5rem auto;
}

.shop_content {
  color: @primary;
}

.shop_content > p {
  font-weight: 50;
  font-size: large;
}

ul {
  padding: 0;
}
li::marker {
  display: none;
}

.product_lists {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.product_lists_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.product_lists_item_details > h3 {
  margin: 0;
}
.product_lists_item_details > p {
  margin: 0.2rem 0 0;
  font-size: medium;
}

.shop_item_btns {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.shop_item_btns > a {
  padding: 0.2rem 0.5rem;
  border: 1px solid @primary;
  border-radius: 1rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin: 0.5rem 0;
}

.shop_item_btns > a > i {
  font-size: 20px;
  padding: 0 !important;
}

.add_to_favorites > i {
  font-size: 20px;
}

.review_section {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.review_section_icons > i {
  font-size: 15px;
  padding: 0 !important;
  color: @tertiary;
}
.home_content {
  color: @primary;

  max-width: 25rem;
  margin: 1rem auto;
}

.home_content > p {
  color: @primary;
  font-size: large;
  font-weight: 50;
}

.home_section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.home_section_item > a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

li {
  list-style: none;
}

.searchbar {
  margin: 0 1.5rem;
}

.searchbar-icon::after {
  color: @primary;
}

.main_page {
  height: 100vh-35px-16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid @secondary;
  margin: 0 auto;
  padding: 2rem;
  background-color: white;
  margin-top: 2rem;
}

.main_page > article {
  display: flex;
  flex-direction: column;
}

.main_page > article > p:nth-child(1) {
  background-color: @secondary;
  padding: 0.2rem;
  margin: 0;
  width: fit-content;
  font-weight: bold;
}

.main_page > article > p:nth-child(2) {
  font-weight: 50;
  font-size: large;
}

.main_page_btn {
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;

  font-weight: bold;
  text-transform: uppercase;
  border-radius: 1rem;
  padding: 0.4rem 0.6rem;
  font-size: 0.8rem;
}

.main_page_btn > i {
  font-size: 1rem;
  font-weight: bolder;
  padding: 0 0.3rem !important;
}

.main_page_btn:hover > i {
  padding-left: 0.8rem !important;
}
